#genre_form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;

  .field {
    margin-right: 30px;

    label:first-child {
      margin-right: 20px;
    }
  }
}

#genre_lists {
  margin: auto;

  thead {
    
    th {
      width: 100px;
      
      &:first-child {
        width: 300px;
      }
    }
  }

  tbody {

    td {
      border-bottom: 1px solid #adaaaa;

      .btn {
        color: #ffffff;
        background-color: #1862ab;
      }
    }
  }
}