<div class="container">
  <div class="row">
        <div class="col-md-5 col-md-offset-3">
		  <div id="ab">About</div>
		  <div class="ab-text">
		    <ul>ながのCakeは全国発送可能なケーキ屋さんです。</ul>
		    <ul>お子様からお年寄りの方までお召し上がりいただけるよう、<br>
			  様々なバリエーションをご用意しております。
		    </ul>
		    <ul>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</ul>
		    <ul>ぜひご注文ください。</ul>
		  </div>
	      <img src="/assets/cupcake.jpg" alt="" width="500" height="300">
		</div>
	</div>
</div>