<div class="main-container">
  <div class="cover">
    <div class="main-text">
	  <li>ようこそ、NaganoCakeへ！</li>
	  <li>このサイトは、ケーキ販売のECサイトになります。</li>
	  <li>会員でない方も商品の閲覧はできますが、<br>
	      購入には会員登録が必要になります。
	  </li>
	  <img src="/assets/cakes.jpg" alt="" width="600" height="500">
    </div>
    <h3>オススメ商品</h3>
    <% end %>
  </div>
</div>