<div class="field">
  <%= f.label :name, "ジャンル" %>
  <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
</div>

<div class="field">
  <%= f.check_box :is_active, {:checked => genre.is_active}, checked_value = "true", unchecked_value = "false" %>
  <%= f.label :is_active, "有効" %>
  <% if genre.is_active == true %>
    <input type="checkbox", id="passive">
  <% else %>
    <input type="checkbox", id="passive", checked="checked">
  <% end %>
  <label for="passive">無効</label>
</div>
