
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <nav class="nav navbar-nav navbar-left">
        <p class="header-logo">ながのCAKE</p>
      </nav>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <button type="button" class="btn btn-default navbar-btn">商品一覧</button>
          <button type="button" class="btn btn-default navbar-btn">会員一覧</button>
          <button type="button" class="btn btn-default navbar-btn">注文履歴一覧</button>
          <button type="button" class="btn btn-default navbar-btn">ジャンル一覧</button>
          <button type="button" class="btn btn-default navbar-btn">ログアウト</button>
        </ul>
      </nav>
    </div>
  </header>